{% set active_page = "feedback" %}
{% extends "base_admin.html" %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-sm">
                <h3>Reviews</h3>
                <hr>
                <div class="div-scroll">
                    {% for review in reviews %}
                        <input type="range" class="slider-disabled" name="rating" 
                            min="0" max="100" value="{{review.rating}}" step="1">
                        <p>{{review.feedback}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                <h3>Requests</h3>
                <hr>
                <div class="div-scroll">
                    {% for request in requests %}
                        <h4>{{request.title}}</h4>
                        <p>{{request.description}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                <h3>All Lunches</h3>
                <hr>
                <div class="div-scroll">
                    {% for lunch in lunches %}
                        <h4>{{lunch.title}}</h4>
                            <input type="range" class="slider-disabled" name="rating" 
                            min="0" max="100" value="{{lunch.avg_rating}}" step="1">
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}