<!DOCTYPE html>
<html>
<head>
	<title>Menlo School Lunch Reviews</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Inter:500,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
          <div class="navbar-nav nav-fill w-100">
            <a class="nav-item nav-link" href="login.html">Logout</a>
            <a class="nav-item nav-link active" id="today-nav-item-admin" href="admin_lunch.html">Today's Lunch</a>
            <a class="nav-item nav-link" href="admin_feedback.html">Feedback</a>
          </div>
        </div>
    </nav>
    <div class="content">
        <h2>Today's Lunch</h2>
        <div class="row d-flex justify-content-center" id="request-name">
            <div class="form-group form-width">
                <textarea class="form-control" id="request-title" rows="1" placeholder="Lunch name"></textarea>
            </div>
        </div>
        <input class="button" type="submit" value="Submit" />
    </div>
</body>