<!DOCTYPE html>
<html>
<head>
	<title>Menlo School Lunch Reviews</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Inter:500,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
          <div class="navbar-nav nav-fill w-100">
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <a class="nav-item nav-link {{ 'active' if active_page == 'lunch' else '' }} id="today-nav-item-admin" href="/lunch">Today's Lunch</a>
            <a class="nav-item nav-link {{ 'active' if active_page == 'feedback' else '' }}" href="/feedback">Feedback</a>
          </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
