{% set active_page = "review" %}
{% extends "base_student.html" %}
{% block content %}
    <h1>{{lunch}}</h1>
    <form action="#" method="POST">
        {% if has_rated %}
            <input type="range" class="slider-disabled" name="rating" 
                min="0" max="100" value={{past_rating}} step="1">
            <h5>Average rating</h5>
            <input type="range" id="avg-rating" class="slider-disabled" name="avg-rating" 
            min="0" max="100" value={{avg_rating}} step="1">
        {% else %}
            <input type="range" name="rating" 
                min="0" max="100" value="50" step="1">
            <div class="row d-flex justify-content-center">
                <div class="form-group form-width">
                    <textarea class="form-control" name="feedback" rows="3" placeholder="Additional feedback?"></textarea>
                </div>
            </div>
            <input class="button" type="submit" value="Rate" />
        {% endif %}
    </form>
{% endblock %}